<div class="flex flex-wrap">
  <app-number-card title="Cohort Population" [totalValue]="2500"></app-number-card>
  <app-number-card title="Total ER" [currentValue]="3969" currentLabel="April-2023" [previousValue]="4459" previousLabel="March-2023"></app-number-card>
  <app-number-card title="Total Admission" [currentValue]="4179" currentLabel="April-2023" [previousValue]="4511" previousLabel="March-2023"></app-number-card>
  <app-number-card title="Average Cost" [currentValue]="11.31" currentLabel="April-2023" [previousValue]="12" previousLabel="March-2023" metricCurrency="USD"></app-number-card>
  <app-number-card title="Total Specialist Visit" [currentValue]="5244" currentLabel="April-2023" [previousValue]="5779" previousLabel="March-2023"></app-number-card>
  <app-chart-card title="Population by Age" [data]="ageData"></app-chart-card>
  <app-chart-card title="Population by Location" [data]="locationData"></app-chart-card>
</div>
