<ng-container *ngIf="!(isLoading$ | async)">
  <!-- <ng-container *ngIf="(settings$ | async) as settingsObject"> -->
    <!-- <div *ngIf="settingsObject?.layout == 'row'">
      <div class="flex my-4 justify-between">
        <app-number-card title="Cohort Population" [totalValue]="2500"></app-number-card>
        <app-number-card title="Total ER" [currentValue]="3969" currentLabel="April-2023" [previousValue]="4459" previousLabel="March-2023"></app-number-card>
        <app-number-card title="Total Admission" [currentValue]="4179" currentLabel="April-2023" [previousValue]="4511" previousLabel="March-2023"></app-number-card>
        <app-number-card title="Average Cost" [currentValue]="11.31" currentLabel="April-2023" [previousValue]="12" previousLabel="March-2023" metricCurrency="USD"></app-number-card>
        <app-number-card title="Total Specialist Visit" [currentValue]="5244" currentLabel="April-2023" [previousValue]="5779" previousLabel="March-2023"></app-number-card>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <app-chart-card title="Population by Age" [data]="ageData"></app-chart-card>
        <app-chart-card title="Population by Location" [data]="locationData"></app-chart-card>
      </div>
      <div class="flex my-4 justify-stretch">
        <app-yearly-analysis-card></app-yearly-analysis-card>
      </div>
    </div> -->

    <h1>Settings value: {{ (isLoading$ | async) }}</h1>


    <!-- <div class="grid grid-cols-10 gap-4" *ngIf="settingsObject?.layout == 'column'">
      <div class="col-span-3 flex flex-wrap gap-4 justify-center self-start">
        <app-number-card title="Cohort Population" [totalValue]="2500"></app-number-card>
        <app-number-card title="Total ER" [currentValue]="3969" currentLabel="April-2023" [previousValue]="4459" previousLabel="March-2023"></app-number-card>
        <app-number-card title="Total Admission" [currentValue]="4179" currentLabel="April-2023" [previousValue]="4511" previousLabel="March-2023"></app-number-card>
        <app-number-card title="Average Cost" [currentValue]="11.31" currentLabel="April-2023" [previousValue]="12" previousLabel="March-2023" metricCurrency="USD"></app-number-card>
        <app-number-card title="Total Specialist Visit" [currentValue]="5244" currentLabel="April-2023" [previousValue]="5779" previousLabel="March-2023"></app-number-card>
      </div>
      <div class="col-span-7 flex flex-col gap-4">
        <div class="grid grid-cols-2 gap-4 justify-stretch">
          <app-chart-card title="Population by Age" [data]="ageData"></app-chart-card>
          <app-chart-card title="Population by Location" [data]="locationData"></app-chart-card>
        </div>
        <div class="justify-stretch">
          <app-yearly-analysis-card></app-yearly-analysis-card>
        </div>
      </div>
    </div> -->
  <!-- </ng-container> -->

  <h1></h1>
</ng-container>